#{extends 'main.html'/}
#{set title:'Selamat Datang'/}
<div class="container">

    <div class="row">
        <div class="panel col-md-12" align="justify">
            <h5>Selamat datang di JaIM (Java Installation Manager)</h5>
            <p><b>JaIM</b> merupakan sistem manajemen untuk proses update Aplikasi SPSE yang
            dikembangkan dan dikelola oleh <b>Direktorat Pengembangan Sistem Pengadaan Secara Elektronik - <a href="https://lkpp.go.id">LKPP (Lembaga Kebijakan Pengadaan Barang/Jasa Pemerintah)</a></b>.
            JaIM dapat melakukan update Aplikasi SPSE melalui akun Admin JaIM dan Admin PPE pada  masing-masing LPSE berdasarkan notifikasi update yang tampil pada halaman Beranda. Aplikasi SPSE yang telah didukung oleh JaIM adalah Aplikasi SPSE dengan versi minimal 4.2.</p>
        </div>
    </div>
</div>