#{extends 'main.html'/}
#{set title:'Konfigurasi Tambahan LPSE'/}

<div class="container">

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@{controllers.HomeCtr.index()}">Home</a></li>
            <li class="active">Konfigurasi Tambahan LPSE</li>
        </ol>
    </div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">Informasi</div>
            <div class="panel-body">
                Fitur untuk menambahkan konfigurasi tambahan pada SPSE tanpa harus edit <b>application.conf</b> di SPSE.
                <b>Konfigurasi akan otomatis di-<i>reload</i> di SPSE setelah berhasil disimpan</b>.
            </div>
        </div>
        <form class="form-horizontal" method="POST" action="@{controllers.AdminCtr.saveCustomConf(lpse?.lpse_id)}">
            <div class="form-group">
                <label class="control-label col-sm-2">Repo ID</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${lpse?.repo_id}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Nama LPSE</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><a href="${lpse?.lpse_url}" >${lpse?.lpse_nama}</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Konfigurasi</label>
                <div class="col-sm-10">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Info</th>
                            <th width="60">Aksi</th>
                        </thead>
                        <tbody id="conf-list">
                            #{list customConfs, as:'cc'}
                            <tr id="${cc_index}">
                                <td><input name="keys" class="form-control" value="${cc?.key}"></td>
                                <td><input name="values" class="form-control" value="${cc?.value}"></td>
                                <td><input name="infos" class="form-control" value="${cc?.info}"></td>
                                <td><a href="#" class="btn delete-conf" data-id="${cc_index}"><span class="fa fa-trash-o"></span></a></td>
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                    <button type="button" id="add-conf" class="btn btn-default pull-right"><span class="fa fa-plus-circle"></span></button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="@{AdminCtr.lpse()}" class="btn btn-default">Batal</a>
                    <button type="submit" class="btn btn-success">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
    $("form").submit(function () {
        if (!confirm("Anda yakin untuk Simpan?"))
            return false;
    });

    $("#add-conf").on('click', function () {
        var id = 'id-' + Math.random().toString(10).substring(3);
        var component = "<tr id=\""+ id +"\">" +
                "<td><input name=\"keys\" class=\"form-control\"></td>" +
                "<td><input name=\"values\" class=\"form-control\"></td>" +
                "<td><input name='infos' class='form-control'></td>" +
                "<td><a href=\"#\" class=\"btn delete-conf\" data-id=\""+ id +"\"><span class=\"fa fa-trash-o\"></span></a></td>" +
                "</tr>"
        $("#conf-list").append(component)
    });

    $(document).on('click', '.delete-conf', function (e) {
        e.preventDefault();
        var id = $(this).attr("data-id");
        $("#" + id).remove();
    })
</script>
#{/set}