#{extends 'main.html'/}
#{set title:'Daftar Aplikasi'/}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="${referer}">Home</a></li>
            <li class="active">Git Pull</li>
        </ol>
    </div>
    <div class="row">
        <h3>Git Pull: ${app.version}</h3>

        <pre>${str}</pre>
    </div>
#{set 'moreScripts'}
    <script type="text/javascript">

    </script>
#{/set}
</div>