#{extends 'main.html'/}
#{set title:'Detail Audit Trail'/}
<div class="container">

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@{controllers.AdminCtr.audittrail()}">Home</a></li>
            <li class="active">Detail Audit Trail</li>
        </ol>
    </div>
    <div class="row">
        <form class="form-horizontal" method="POST">
            <div class="form-group">
                <label class="control-label col-sm-2">Audit Type</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${audit?.audit_type}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">User ID</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${audit?.user_id}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tanggal</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${audit?.activity_date.format("dd MMM yyyy HH:mm")}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Remote Address</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${audit?.remote_address}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Data Sebelumnya</label>
                <div class="col-sm-10">
                    <input type="hidden" id="dataBeforeTmp" value="${audit?.data_before}">
                    <pre id="dataBefore" class="form-control-static"></pre>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Data Sesudahnya</label>
                <div class="col-sm-10">
                    <input type="hidden" id="dataAfterTmp" value="${audit?.data_after}">
                    <pre id="dataAfter" class="form-control-static"></pre>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Info</label>
                <div class="col-sm-10">
                    <input type="hidden" id="infoTmp" value="${audit?.info}">
                    <pre id="info" class="form-control-static"></pre>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="@{AdminCtr.audittrail()}" class="btn btn-default">Kembali</a>
                </div>
            </div>
        </form>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function(){
        var tmpInfo = $("#infoTmp").val()
        if(tmpInfo != "") {
            tmpInfo = JSON.parse($("#infoTmp").val())
            var info = JSON.stringify(tmpInfo, null, 2);
            $("#info").text(info)
        }

        var dataBeforeTmp = $("#dataBeforeTmp").val()
        if(dataBeforeTmp != "") {
            dataBeforeTmp = JSON.parse(dataBeforeTmp)
            var dataBefore = JSON.stringify(dataBeforeTmp, null, 2);
            $("#dataBefore").text(dataBefore)
        }

        var dataAfterTmp = $("#dataAfterTmp").val()
        if(dataAfterTmp != "") {
            dataAfterTmp = JSON.parse(dataAfterTmp)
            var dataAfter = JSON.stringify(dataAfterTmp, null, 2);
            $("#dataAfter").text(dataAfter)
        }
    })
</script>
#{/set}