#{extends 'main.html'/}
#{set title:'Audit Trail'/}
#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/lpse.css'}">
#{/set}

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@{controllers.AdminCtr.lpse()}">Home</a></li>
            <li class="active">Daftar Audit Trail</li>
        </ol>
    </div>
	<div class="row">
        <form method="get" action="@{audittrail()}" class="form-horizontal">
            <input type="text" name="search" class="form-control pull-right input-sm" value="${params.get("search")}" placeholder="Search..">
        </form>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Audit Type</th>
                <th>Remote Address</th>
                <th>User ID</th>
                <th>Activity Date</th>
                <th>Info</th>
                <th>Aksi</th>
            </tr>
            </thead>
            <tbody>
			#{if result.items == null || result.items.size() == 0}
            <tr>
                <td colspan="8">Tidak ada data</td>
            </tr>
			#{/if}
			#{list result.items, as:'at'}
            <tr>
                <td>${at?.audit_type}</td>
                <td>${at?.remote_address}</td>
                <td>${at?.user_id}</td>
                <td>${at?.activity_date?.format("dd-MMM-yy HH:mm")}</td>
                <td style="word-wrap: break-word;max-width: 300px;">${at?.simpleInfo}</td>
                <td><a class="btn btn-warning btn-xs" href="@{AdminCtr.audittrailView(at?.id)}"><i class="fa fa-info-circle"></i> Detail</a></td>
            </tr>
			#{/list}
            </tbody>
        </table>
    </div>
</div>