#{extends 'main.html'/}
#{set title:'Buat Patch'/}
<div class="container">

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="${referer}">Home</a></li>
            <li class="active">Buat Patch Baru</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4"><img src="${lpse.lpse_url}/public/images/imgng/lpse-logo.png" class="pull-right"></div>
    </div>
    <div class="row">
        <div id="lastpull-warning"></div>
        <div class="alert alert-success">
            <ol>
                <li> Setelah Anda Simpan, SPSE akan melakukan mengecek ke JaimServer apakah perlu melakukan
                    update Service Pack atau tidak. Jika diperlukan maka JaimServer mengirimkan <i>file patch</i> ke
                    LPSE.
                </li>
                <li>Ketika update dieksekusi, maka JaimAgent di SPSE-4 akan melakukan:
                    stop SPSE4, update patch, backup (jika perlu) dan start SPSE4.
                </li>
            </ol>
        </div>
        <form method="POST" class="form-horizontal" action="@{createServicePackSubmit()}">
            <input type="hidden" value="${lpse.lpse_id}" name="sp.lpse_id">
            <div class="form-group">
                <label class="control-label col-sm-2">SPSE</label>
                <div class="col-sm-10">
                    <p class="form-control-static">[${lpse.repo_id}] ${lpse.lpse_nama} - <label
                            class="label label-default">${lpse.lpse_url}</label></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Versi Saat Ini</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${lpse?.spse4_version}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Build Saat Ini</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${lpse?.spse4_build}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Aplikasi</label>
                <div class="col-sm-6">
                    <p class="form-control-static">${app.name}</p>
                    <input type="hidden" name="sp.app_id" value="${app.app_id}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox col-sm-offset-2 col-sm-10">
                    <label><input class="form-group" id="chck-backup" type="checkbox" name="sp.do_backup" checked />
                    Backup Database</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Keterangan</label>
                <div class="col-sm-6">
                    <input class="form-control" name="sp.keterangan" readonly value="${sp.keterangan}">
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="referer" value="${referer}"/>
                <a href="${referer}" class="btn btn-default">Batal</a>
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </form>
    </div>
</div>

<!-- MODAL BACKUP CONFIRM -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chck-backup" aria-hidden="true" id="uc-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                Perlu diperhatikan, jika anda <b>tidak</b> mengisi opsi backup Database,
                maka <b>JAIM tidak akan melakukan backup Database pada saat update SPSE. </b>
                Update tanpa backup database hanya direkomendasikan bagi yang telah memiliki metode backup sendiri.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-no">Batal</button>
                <button type="button" class="btn btn-default" id="modal-btn-yes">Ok, mengerti</button>
            </div>
        </div>
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">

    $(document).ready(function () {
        $("#app").trigger("change");
    })
    $("form").submit(function () {
        if (!confirm("Anda yakin untuk Simpan?"))
            return false;
    });

    $("#app").on("change", function (e) {
        var selectedOpt = $("#app > option:selected");
        var auditUpdate = selectedOpt.attr("auditUpdate");
        var totalDays = selectedOpt.attr("totalDays");
        var type = "info";
        if (totalDays > 3 && totalDays <= 14) {
            type = "warning";
        } else if (totalDays > 14) {
            type = "danger";
        }
        var info = "<div class='alert alert-" + type + "'>Installer <b>" + selectedOpt.text() + "</b> terakhir di-<i>pull</i> pada tanggal "
                + auditUpdate + " (" + totalDays + " hari yang lalu). Pastikan installer telah mendapatkan <i>update</i> yang terakhir. " +
                "<a href='@{AdminCtr.listApplication()}' class='btn btn-xs btn-primary'>Pull</a> </div>";
        $("#lastpull-warning").html("");
        $("#lastpull-warning").append(info);
    });

    var modalConfirm = function(callback){

        $("#chck-backup").on("click", function(){
            if(!$(this).is(":checked")) {
                $("#uc-modal").modal({backdrop: 'static', keyboard: false});
            }
        });

        $("#modal-btn-yes").on("click", function(){
            callback(true);
            $("#uc-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function(){
            callback(false);
            $("#uc-modal").modal('hide');
        });
    };

    modalConfirm(function(confirm){
        if(!confirm){
            $("#chck-backup").prop('checked', true);
        }
    });

</script>
#{/set}