#{extends 'main.html'/}
#{set title:'Daftar Aplikasi'/}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="${referer}">Home</a></li>
            <li class="active">Aplikasi</li>
        </ol>
    </div>
    <div class="row">
        <div class="alert alert-info">
            Di bawah ini adalah status git repository dari aplikasi. Lakukan git-pull jika diperlukan. <b>Jika git-pull
            via JaimServer gagal, maka lakukan git pull manual
            via SSH dan klik menu Refresh Aplikasi.</b>
        </div>

    #{list applications, as:'app'}
        <h4>${app.root}/${app.name} <a class="btn btn-primary j-gitpull btn-xs" href="@{applicationGitPull(app.name)}"
                                       data-name="${app.name}">
            <i class="fa fa-cloud-download"></i> Git Pull</a></h4>
        <pre>${gitLogs.get(app_index-1)}</pre>
    #{/list}
    </div>

    #{set 'moreScripts'}
        <script type="text/javascript">
            $(".j-gitpull").click(function (ev) {
                return confirm("Anda yakin untuk melakukan git pull: " + $(this).data("name") + " ?");
            });
        </script>
    #{/set}
</div>