#{extends 'main.html'/}
#{set title:'LPSE Baru'/}
<div class="container">

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@{controllers.AdminCtr.lpse()}?isLatihan=${isLatihan}">Home</a></li>
            <li class="active">Tambah LPSE</li>
        </ol>
    </div>
    <div class="row">
        <div class="panel panel-warning">
            <div class="panel-heading">Warning!</div>
            <div class="panel-body">
                <p>Sebelum menambahkan SPSE baru ke JAIM SERVER, pastikan daftar dibawah ini sudah terpenuhi di server SPSE
                    yang akan ditambahkan agar instalasi berjalan dengan baik.</p>
                <ol>
                    <li>Folder SPSE sudah disesuaikan. /home/appserv/spse untuk production dan /home/appserv/spselat untuk latihan.</li>
                    <li>Telah terinstall zip dan unzip</li>
                    <li>Telah terinstall cURL dan sudah dipastikan bisa cURL HTTPS</li>
                    <li>Server support eksekusi shell script</li>
                    <li>PostgreSQL client dan server memiliki versi yang sama (Disarankan versi 9.6 keatas)</li>
                    <li>Build SPSE minimal 4.2u20180507</li>
                    <li>Tambahkan configurasi spse.uuid ke application.conf di SPSE yang diisi dengan uuid yang digenerate ketika menambahkan SPSE</li>
                </ol>
            </div>
        </div>
        <form class="form-horizontal" method="POST">
            #{if isLatihan}
                <div class="form-group">
                    <label class="control-label col-sm-2">URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="lpse.lpse_url" value="${lpse?.lpse_url}"
                               placeholder="URL Versi 4. Contoh: https://lpse.lkpp.go.id">
                    </div>
                </div>
            #{/if}
            #{else}
                <div class="form-group">
                    <label class="control-label col-sm-2">Repo ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="lpse.repo_id" value="${lpse?.repo_id}"
                               placeholder="Repo ID untuk SPSE">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">URL LPSE</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">${lpse?.lpse_url}</p>
                    </div>
                </div>
            #{/else}
            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-2 checkbox">
                    <label><input type="checkbox" name="lpse.allow_update" ${lpse?.allow_update ? 'checked' : ''}/>Update Otomatis</label>
                </div>
                <div class="col-sm-8 checkbox">
                    <label><input type="checkbox" name="lpse.is_development" ${lpse?.is_development ? 'checked' : ''}/>Versi Development</label>
                </div>
            </div>
        #{if lpse?.lpse_id}
            #{if isLatihan}
                <input type="hidden" name="lpse.repo_id" value="${lpse.repo_id}"/>
            #{/if}
            <input type="hidden" name="lpse.lpse_nama" value="${lpse.lpse_nama}"/>
            <div class="form-group">
                <label class="control-label col-sm-2">Nama LPSE</label>
                <div class="col-sm-10">
                    <p class="form-control-static">[${lpse.repo_id}] ${lpse.lpse_nama}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Versi &amp; Build</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${lpse.spse4_version} u ${lpse.spse4_build}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">UUID</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${lpse?.uuid}</p>
                </div>
            </div>
        #{/if}

        #{if lpse?.lpse_id}
            <div class="col-sm-offset-2 col-sm-10">
                <a href="@{lpse()}" class="btn btn-default"><span class="fa fa-list"></span> Daftar LPSE</a>
            </div>
        #{/if}
        #{else}
            <div class="col-sm-offset-2 col-sm-10">
                <a href="${referer}" class="btn btn-default">Batal</a>
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        #{/else}
        </form>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    $("form").submit(function () {
        if (!confirm("Anda yakin untuk Simpan?"))
            return false;
    });
</script>
#{/set}