#{extends 'main.html'/}
#{set title:'Daftar LPSE Production' /}
#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/lpse.css'}">
#{/set}

<div class="container">
	<div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                Aplikasi:
                #{list listApp, as:'app'}
                    <a class="btn btn-info btn-xs" href="@{listApplication()}">${app.app_id}  <i></i></a>
                #{/list}
            </div>
        </div>
        <form method="get" action="@{lpse()}" class="form-horizontal">
            <input type="text" name="search" class="form-control pull-right input-sm" value="${params.get("search")}" placeholder="Search..">
        </form>
        #{lpseList result/}
    </div>
</div>