#{extends 'main.html'/}
#{set title:'Informasi Server ' + lpse?.lpse_nama/}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@{HomeCtr.index()}">Home</a></li>
            <li><a href="@{lpseEdit(lpse?.lpse_id)}">Edit LPSE</a></li>
            <li class="active">Informasi Server ${lpse?.lpse_nama}</li>
        </ol>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th class="bg-warning" style="width: 30%;">JVM</th>
                <td>${sysInfo?.jvm}</td>
            </tr>
            <tr>
                <th class="bg-warning">Java Memory</th>
                <td>
                    <table class="table table-striped">
                        <tr>
                            <th>Total</th>
                            <th>Max</th>
                            <th>Free</th>
                        </tr>
                        <tr>
                            <td>${sysInfo?.javaTotalMemory}</td>
                            <td>${sysInfo?.javaMaxMemory}</td>
                            <td>${sysInfo?.javaFreeMemory}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th class="bg-warning">JDK & OS</th>
                <td>${sysInfo?.jdk}</td>
            </tr>
            <tr>
                <th class="bg-warning">Core</th>
                <td>${sysInfo?.core}</td>
            </tr>
            <tr>
                <th class="bg-warning">PostgreSQL</th>
                <td>${sysInfo?.postgreSQL}</td>
            </tr>
            <tr>
                <th class="bg-warning">Pg Dump</th>
                <td>${sysInfo?.pg_dump}</td>
            </tr>
            <tr>
                <th class="bg-warning">Database Tablespace Size (pg_default)</th>
                <td>${sysInfo?.dbTablespaceSize}</td>
            </tr>
            <tr>
                <th class="bg-warning">ZIP</th>
                <td>${sysInfo?.zip}</td>
            </tr>
            <tr>
                <th class="bg-warning">CURL</th>
                <td>${sysInfo?.curl}</td>
            </tr>
            <tr>
                <th class="bg-warning">Free File Storage</th>
                <td>
                    <table class="table table-striped">
                        <tr>
                            <th>Total Space (KB)</th>
                            <th>Free Space (KB)</th>
                            <th>Percentage (%)</th>
                        </tr>
                        <tr>
                            <td>${sysInfo?.freeFileStorage.totalSpace.format("##,###")}</td>
                            <td>${sysInfo?.freeFileStorage.freeSpace.format("##,###")}</td>
                            <td>${sysInfo?.freeFileStorage.percentFree}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th class="bg-warning">Free Temp Storage</th>
                <td>
                    <table class="table table-striped">
                        <tr>
                            <th>Total Space (KB)</th>
                            <th>Free Space (KB)</th>
                            <th>Percentage (%)</th>
                        </tr>
                        <tr>
                            <td>${sysInfo?.tmpStorage.totalSpace.format("##,###")}</td>
                            <td>${sysInfo?.tmpStorage.freeSpace.format("##,###")}</td>
                            <td>${sysInfo?.tmpStorage.percentFree}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>