#{extends 'main.html'/}
#{set title:'Edit LPSE'/}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="${referer}">Home</a></li>
            <li class="active">Edit LPSE</li>
        </ol>
    </div>
    <div class="row">
        #{if sysInfo != null}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Informasi Sistem
                </div>
                <div class="panel-body">
                ${sysInfo.toString()}
                    <a href="@{lpseInfo(lpse?.lpse_id)}"><span class="label label-info">Selengkapnya..</span></a>
                </div>
            </div>
        #{/if}
        <form class="form-horizontal" method="post" action="@{lpseEditSubmit()}">
            <input type="hidden" id="lpseId" name="lpse.lpse_id" value="${lpse.lpse_id}">
            <div class="form-group">
                <label class="control-label col-sm-2">REPO ID</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" required name="lpse.repo_id" value="${lpse.repo_id}"
                           #{if lpse.repo_id!=null}readonly#{/if}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Build LPSE</label>
                <div class="col-sm-6">
                    <input type="text" id="buildLpse" class="form-control" value="${lpse?.build}" placeholder="Build LPSE" readonly>
                </div>
                <div class="col-sm-2">
                    <button id="refreshBuild" type="button" class="btn btn-info" title="Refresh Build LPSE">
                        <span class="fa fa-refresh"></span>
                    </button>
                    <img id="loadingBuild" style="display: none" src="/public/images/loading.gif" height="34px">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">IP Address</label>
                <div class="col-sm-6">
                    <input type="text" id="ipAddress" class="form-control" required name="lpse.ip_address" value="${lpse.ip_address}">
                </div>
                <div class="col-sm-2">
                    <button id="refreshIp" type="button" class="btn btn-info" title="Refresh IP Address">
                        <span class="fa fa-refresh"></span>
                    </button>
                    <img id="loadingIp" style="display: none" src="/public/images/loading.gif" height="34px">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Nama LPSE</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" required name="lpse.lpse_nama" value="${lpse.lpse_nama}"
                           placeholder="Nama LPSE">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">URL</label>
                <div class="col-sm-8">
                    <input type="text" id="url" class="form-control" required name="lpse.lpse_url" value="${lpse.lpse_url}"
                           placeholder="URL Versi 4. Contoh: https://lpse.lkpp.go.id/eproc4">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-2 checkbox">
                    <label><input type="checkbox" name="lpse.allow_update" ${lpse?.allow_update ? 'checked' : ''}/>Update Otomatis</label>
                </div>
                <div class="col-sm-8 checkbox">
                    <label><input type="checkbox" name="lpse.is_development" ${lpse?.is_development ? 'checked' : ''}/>Versi Development</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Keterangan</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" required name="lpse.host_info" value="${lpse.host_info}"
                           placeholder="PIC ITO/Juragan Install">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">UUID</label>
                <div class="col-sm-10">
                    <p class="form-control-static">${lpse?.uuid}</p>
                </div>
            </div>

            <div class="col-sm-offset-2 col-sm-8">
                <input type="hidden" name="referer" value="${referer}">
                <a href="${referer}" class="btn btn-default">Batal</a>
                <button type="submit" class="btn btn-success">Simpan</button>
            #{if lpse.lpse_id!=null}
                <a href="@{lpseDelete(lpse.lpse_id)}" class="btn btn-danger pull-right">Hapus</a>
            #{/if}
            </div>
        </form>
    </div>

    #{set 'moreScripts'}
        <script type="text/javascript">
            $("form").submit(function () {
                if (!confirm("Anda yakin untuk Simpan?"))
                    return false;
            });
            
            $("#refreshIp").on("click", function () {
                var url = $("#url").val();
                $("#loadingIp").show();
                $.ajax({
                    url: '@{AdminCtr.refreshIpAddress()}',
                    dataType: 'JSON',
                    data: {
                        url: url
                    },
                    complete: function () {
                        $("#loadingIp").hide();
                    },
                    success: function (data) {
                        $("#ipAddress").val(data['ip_address']);
                    },
                    error: function () {
                        alert("Gagal refresh IP LPSE. Pastikan LPSE dapat diakses.");
                    }
                });
            });

            $("#refreshBuild").on("click", function () {
                var lpseId = $("#lpseId").val()
                $("#loadingBuild").show();
                $.ajax({
                    url: '@{AdminCtr.lpseVersi()}',
                    dataType: 'JSON',
                    data: {
                        id: lpseId
                    },
                    complete: function () {
                        $("#loadingBuild").hide();
                    },
                    success: function (data) {
                        $("#buildLpse").val(data['new_build']);
                    },
                    error: function () {
                        alert("Gagal refresh build LPSE. Pastikan LPSE dapat diakses.");
                    }
                });
            });
        </script>
    #{/set}
</div>