#{extends 'main.html'/}
#{set title:'Riwayat Patch'/}
#{set title_desc: '['+lpse.repo_id+']'+lpse.lpse_nama+' ('+lpse.lpse_url+')' /}
#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/lpse.css'}">
#{/set}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="${referer}">Home</a></li>
            <li class="active">Riwayat Patch</li>
        </ol>
    </div>
	<div class="row">
        <form method="get" action="@{controllers.ChangelogCtr.index()}" class="form-horizontal">
            <input type="text" name="search" value="${result?.meta?.keyword}" class="form-control pull-right input-sm" placeholder="Search..">
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Patch ID</th>
                    <th>Aplikasi</th>
                    <th>Tanggal Dibuat</th>
                    <th>Tanggal Download</th>
                    <th>Status</th>
                    <th>Keterangan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                #{if result.isEmpty() }
                <tr>
                    <td colspan="7">Tidak ada data</td>
                </tr>
                #{/if}
                #{list result.items, as:'sp'}
                <tr>
                    <td>${sp?.sp_id}</td>
                    <td>${sp?.app_id}</td>
                    <td>${sp?.create_date?.format('dd-MMM-yy HH:mm')}</td>
                    <td>${sp?.download_date?.format('dd-MMM-yy HH:mm')}</td>
                    <td>#{spStatus sp/}</td>
                    <td>${sp.keterangan}</td>
                    <td><a class="btn btn-warning btn-xs" href="@{AdminCtr.viewServicePack(sp?.sp_id)}"><span class="fa fa-info-circle"></span> log</a> </td>
                </tr>
                #{/list}
            </tbody>
        </table>
    #{if !result.isEmpty() }
        #{pagination result/}
    #{/if}
    </div>
    <div class="row">
        <ul class="list-inline">
        #{list items:models.main.ServicePack.ServicePackStatus.values(), as:'status'}
            <li>
                <small><span class="label label-info">${status.name()}</span> : <span class="text-muted">${status.desc}</span></small>
            </li>
        #{/list}
        </ul>
    </div>
</div>