#{extends 'main.html'/}
#{set title:'Detail Service Pack dan Logs'/}
#{set title_desc: '['+lpse.repo_id+']'+lpse.lpse_nama+' ('+lpse.lpse_url+')' /}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@{controllers.AdminCtr.lpse()}">Home</a></li>
            <li><a href="${referer}">History Patch</a></li>
            <li class="active">Detail Patch</li>
        </ol>
    </div>
    <div class="row">
        <div class="alert alert-info">
            Di bawah ini isi dari file yang dikirim ke LPSE dan Log hasil update (muncul jika update sudah dieksekusi.
            Download log jika tidak muncul. <a class="btn btn-primary btn-sm" href="@{AdminCtr.servicePackLog(sp.sp_id)}">Download</a>
        </div>
        <h4>SP: ${sp.sp_id} Tanggal: ${sp.create_date.format('dd-MMM-yyyy HH:mm')}</h4>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        #{list values, as: 'val'}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading${val_index}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse${val_index}"
                           aria-expanded="false" aria-controls="collapse${val_index}">
                            <b>${val.key}</b><br>
                        </a>
                    </h4>
                </div>
                <div id="collapse${val_index}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading${val_index}">
                    <div class="panel-body">
                        <pre>${val.value}</pre>
                    </div>
                </div>
            </div>
        #{/list}
        </div>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
</script>
#{/set}