#{set result: _arg /}

<table class="table table-striped">
    <thead>
    <tr>
        <th>LPSE ID</th>
        <th>Nama</th>
        <th>Build</th>
        <th>Patch Terakhir</th>
        <th>Status</th>
        <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
    #{if result.items == null || result.items.size() == 0}
    <tr>
        <td colspan="8">Tidak ada data</td>
    </tr>
    #{/if}
    #{list result.items, as:'lpse'}
        #{set sp: lpse.lastServicePack/}
    <tr>
        <td>${lpse.repo_id}</td>
        <td title="${sp?.create_date?.format("dd-MMM-yyyy HH:mm")}">
            #{lpseInfo lpse/}
            <a href="${lpse.lpse_url}" target="lpse"><i class="fa fa-external-link"></i></a>
        </td>
        <td>${lpse?.build}</td>
        <td>
            #{if sp?.sp_id}
                <b>[${sp?.sp_id}]</b>
            #{/if}

            #{if sp?.segera}Segera#{/if}
            #{else}
            ${sp?.create_date?.format("dd-MMM-yy HH:mm")}
            #{/else}
            <i> ${sp?.keterangan}</i>
        </td>
        <td>
            #{spStatus sp/}
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-warning btn-sm dropdown-toggle" id="dLabel" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Aksi
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>
                        <a class="dropdown-item" href="@{servicePackHistory(lpse?.lpse_id)}"><i class="fa fa-list"></i> Riwayat Patch</a>
                    </li>
                    #{if lpse.allow_update }
                        <li>
                            <a class="dropdown-item" href="@{createServicePackForm(lpse?.lpse_id)}"><i class="fa fa-cloud-upload"></i> Buat Patch</a>
                        </li>
                    #{/if}
                    <li>
                        <a class="dropdown-item" href="@{lpseEdit(lpse.lpse_id)}"><i class="fa fa-edit"></i> Edit LPSE</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@{controllers.AdminCtr.addCustomConf(lpse?.lpse_id)}"><i class="fa fa-cogs"></i> Custom Konfigurasi</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>
#{if !result.isEmpty() }
    #{pagination result/}
#{/if}