#{if _arg?.status}
    <label class="label label-info" title="${_arg?.status?.desc}" data-toggle="tooltip" data-placement="top">
        ${_arg?.status}
    </label><br>
    <label class="label label-default">${_arg?.update_date?.format("dd-MMM-yy HH:mm")}</label>
#{/if}