#{extends 'main.html'/}
#{set title:'Daftar Changelog'/}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/lpse.css'}">
#{/set}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@{controllers.AdminCtr.lpse()}">Home</a></li>
            <li class="active">Daftar Changelog</li>
        </ol>
    </div>
    <div class="row">
        <a class="btn btn-primary" href="@{controllers.ChangelogCtr.create()}">Tambah Changelog</a>
        <form method="get" action="@{controllers.ChangelogCtr.index()}" class="form-horizontal">
            <input type="text" name="search" value="${result?.meta?.keyword}" class="form-control pull-right input-sm"
                   placeholder="Search..">
        </form>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th class="nowrap">Head</th>
                <th class="nowrap">Versi Aplikasi</th>
                <th class="nowrap">Diubah</th>
                <th>Deskripsi Singkat</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{if result.isEmpty() }
            <tr>
                <td colspan="8">Tidak ada data</td>
            </tr>
            #{/if}
            #{list result.items, as:'change'}
            <tr>
                <td class="nowrap">${change.formattedDate}</td>
                <td class="nowrap">${change.app_id}</td>
                <td class="nowrap">${change.formattedModifiedDate}</td>
                <td>${change.shortDescription}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-warning btn-sm dropdown-toggle" id="dLabel" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Aksi
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>
                                <a class="dropdown-item" href="@{controllers.ChangelogCtr.update(change.id)}">Ubah</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@{controllers.ChangelogCtr.delete(change.id)}">Hapus</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            #{/list}
            </tbody>
        </table>
    #{if !result.isEmpty() }
        #{pagination result/}
    #{/if}
    </div>
</div>