#{extends 'main.html'/}
#{set title:'Input Changelog'/}

<div class="container">
#{alert /}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@{index()}">Home</a></li>
            <li class="active">Tambah Changelog</li>
        </ol>
    </div>
    <div class="row">
        <form class="form-horizontal" method="post" action="@{controllers.ChangelogCtr.save()}">
        #{authenticityToken /}
            <input type="hidden" name="model.id" value="${changelog.id}">
            <div class="form-group">
                <label class="control-label col-sm-2">Versi Aplikasi</label>
                <div class="col-sm-4">
                    <select class="form-control" name="model.appId" required>
                    #{list apps, as:'app'}
                        <option value="${app.app_id}" ${changelog?.app_id == app.app_id ? 'selected' : ''}>${app.name}</option>
                    #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tanggal</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control datepicker" required name="model.stringDate"
                           value="${changelog.formattedDate}" placeholder="Tanggal Build">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Deskripsi</label>
                <div class="col-sm-10">
                <textarea id="editor" name="model.description" style="width: 100%">
                    ${changelog.description}
                </textarea>
                </div>
            </div>

            <div class="col-sm-offset-2 col-sm-10">
                <a href="@{controllers.ChangelogCtr.index()}" class="btn btn-default">Batal</a>
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </form>
    </div>
</div>
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/javascripts/wysiwyg/bootstrap3-wysihtml5.min.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-datepicker3.min.css'}">
#{/set}
#{set 'moreScripts'}
<!-- Library -->
<script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/wysiwyg/bootstrap3-wysihtml5.all.min.js'}" type="text/javascript"></script>
<script type="text/javascript">
    $("form").submit(function () {
        if (!confirm("Anda yakin untuk Simpan?"))
            return false;
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true
        });
        $('.prev i').removeClass();
        $('.prev i').addClass("fa fa-chevron-left");

        $('.next i').removeClass();
        $('.next i').addClass("fa fa-chevron-right");
        $('#editor').wysihtml5();
    })
</script>
#{/set}