input[name=search] {
    width: 15%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
input[name=search]:focus, input[name=search]:active:focus, input[name=search].active:focus {
    width: 25%;
    outline: none;!important;
    text-decoration: none;
    box-shadow: none;
}

.nowrap {
    white-space: nowrap;
}