#{extends 'main.html'/}
#{set title:'Dashboard'/}
#{set 'moreStyles' }
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/dashboard.css'}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="@{'/public/ionicon/css/ionicons.min.css'}">
#{/set}
<div class="container">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 class="h3-dashboard">${totalSpseProd}</h3>

                    <p>Total SPSE Production di JAIM</p>
                </div>
                <div class="icon">
                    <i class="ion ion-information-circled"></i>
                </div>
                *{<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>}*
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 class="h3-dashboard">${totalWithLastVersion}</h3>

                    <p>SPSE dengan Versi Terakhir</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 class="h3-dashboard">${totalWithLastBuild}</h3>

                    <p>SPSE dengan Build Terakhir</p>
                </div>
                <div class="icon">
                    <i class="ion ion-star"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 class="h3-dashboard">${successAverage?.format("#####.##")}<sup style="font-size: 20px">%</sup></h3>

                    <p>Rata - Rata Kesuksesan Instalasi</p>
                </div>
                <div class="icon">
                    <i class="ion ion-arrow-graph-up-right"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">10 Update Terakhir</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive table-condensed">
                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Repo ID</th>
                        <th>Patch ID</th>
                        <th>Nama LPSE</th>
                        <th>Versi & Build</th>
                        <th>Tanggal Update</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    #{list servicePacks, as:'sp'}
                    #{set lpse: sp.getLpse()/}
                        <tr>
                            <td>${lpse?.repo_id}</td>
                            <td>${sp?.sp_id}</td>
                            <td>#{lpseInfo lpse/}
                                <a href="${lpse.lpse_url}" target="lpse"><i class="fa fa-external-link"></i></a>
                            </td>
                            <td>${lpse?.build}</td>
                            <td>${sp?.create_date?.format("dd-MMM-yy HH:mm")}</td>
                            <td>#{spStatus sp/}</td>
                        </tr>
                    #{/list}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
    </div>
</div>